.App {
  /* text-align: center; */
}

.chat-box {
  border: 1px solid #eee;
  margin: 8px;
  height: 80vh;
  padding: 20px;
  box-shadow: 0 6px 8px 3px #ddd;
  overflow-y: scroll;
}

.message-box {
  height: 60px;
}

.message-col {
  display: inline-block;
}

.message-col img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.message-col + .message-col {
  margin-left: 10px;
}

.message-content {
  border-radius: 15px;
  padding: 8px;
  background-color: #eef;
}

.send-bar {
  margin-top: 30px;
}